/* Hero Section */
.hero-content h1,
.hero-content h2 {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 0;
  font-family: "Castellar", serif;
}

.hero-content h1:hover {
  transform: scale(1.05);
}

.hero-content h1 {
  font-size: 2rem;
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: "Castellar", sans-serif;
  position: relative;
  height: 5rem;
  overflow: hidden;
  text-align: center;
}

.role {
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeInOut 9s infinite;
}

/* Set animation delays for each role */
.role:nth-child(1) {
  animation-delay: 0s;
}

.role:nth-child(2) {
  animation-delay: 3s;
}

.role:nth-child(3) {
  animation-delay: 6s;
}

/* Keyframe animation for fading in and out */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Media Queries */
@media only screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .hero-content h2 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    margin-top: -8px; /* Adjust margin for smaller screens */
    margin-bottom: 8px; /* Adjust margin for smaller screens */
    height: 4rem; /* Adjust height for smaller screens */
  }

  .role {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}
