/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Castellar&family=Wide+Latin&display=swap");

/* General Reset */
body {
  margin: 0;
  padding: 0 70px;
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: #0d47a1;
}

/* Particles.js Containers */
#particles-js,
#particles-js-navbar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* General Styling for sections */
.section {
  padding: 40px;
  text-align: center;
}

/* Contact Links */
.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.icon-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.contact-icon {
  width: 45px;
  height: 45px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
  border: 3px solid white;
}

.contact-icon:hover {
  box-shadow: inset 0 0 15px rgba(80, 235, 255, 0.9);
}

.contact-icon:hover {
  animation: vibrate 0.3s linear infinite;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translate(1px, 1px);
  }
  25%,
  75% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(2px, 2px);
  }
}

/* Footer */
footer {
  padding: 20px 40px;
  text-align: center;
  background-color: #0d47a1;
  color: rgb(0, 0, 0);
}

footer .social-media a {
  color: rgb(34, 28, 28);
  margin-right: 10px;
}

footer .contact-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

footer .contact-icon:hover {
  animation: vibrate 0.3s linear infinite;
}

/* Styling for SHIVAM DAVE letters */
.shivam-dave {
  font-family: "Castellar", serif;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for individual letters */
.letter {
  display: inline-block;
  transition: transform 0.9s ease-in-out;
}
